.rule,
.ruleGroup .ruleGroup {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.ruleGroup {
    padding: 0.5rem;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: rgba(255, 233, 172, 0.5);
}


h3 {
    font-size: 12px;
    margin: 0 0 6px 0;
    color: green;
}

.rule {
    display: flex;
    align-items: flex-end;
}